<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->
<head>

    <title>Weibo Dynamic</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Meta-Tags -->


    <!-- Bootstrap-CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap5.css" type="text/css" media="all">
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="/static/css/style5.css" type="text/css" media="all">

  <link rel="stylesheet" href="/static/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<!-- //Head -->


<!-- Body -->
<body>
<!-- Header -->
<div class="agileheader" id="agileitshome" style="height: 0px">

    <!-- Navigation -->
    <div class="w3lsnavigation">
        <nav class="navbar navbar-default agilehovereffect wthreehovereffect">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="link-effect-2" id="link-effect-2">
                    <ul class="nav navbar-nav">
                        <li><a class="scroll" href="/dynamic"><span
                                style="font-size: 30px;color: #0b0b0b">SEND</span></a></li>
                        <li><a class="scroll" href="/myDynamic"><span style="font-size: 30px;color: #0b0b0b">MY DYNAMIC</span></a>
                        </li>
                        <li><a class="scroll" href="#"><span></span></a></li>
                        <li><a class="scroll" href="/circle"><span
                                style="font-size: 30px;color: #0b0b0b">CIRCLE</span></a></li>
                        <li><a class="scroll" href="/profile"><span
                                style="font-size: 30px;color: #0b0b0b">BACK</span></a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- //Navigation -->

    <!-- Slider -->
    <div class="slider">
        <ul class="rslides" id="slider">
            <li class="first-slide w3ls">
                <div class="wthreexperience">
                    <div id="animated-example" class="animated fadeIn"></div>
                    <button onclick="myFunction()">Reload page</button>
                </div>
            </li>



        </ul>
    </div>
    <!-- //Slider -->

</div>
<!-- //Header -->


<!-- Contact -->
<div class="agilecontactw3ls" id="agilecontactw3ls" style="height: 67em">
    <div class="container">
        <h3>Circle</h3>
        {% for line in data %}
            <form action="/circle/" method="post">
                <br style="color:red"/>{% csrf_token %}<br/>
                <div class="col-md-6 agilecontactw3ls-grid agilecontactw3ls-grid-1">
                    <input type="hidden" Name="num" value="{{ line.num }}" required="" readonly="true"
                           style="color:white">
                    <input type="text" Name="author" value="{{ line.author }}" required="" readonly="true"
                           style="color:white">
                    <input type="text" Name="postData" value="{{ line.postData }}" required="" readonly="true"
                           style="color:white">
                    <input type="text" Name="likes" value="Likes: {{ line.likes }}" required="" readonly="true"
                           style="color:white">
                </div>
                <div class="col-md-6 agilecontactw3ls-grid agilecontactw3ls-grid-2">
                    <textarea name="content" required="" readonly="true"
                              style="color:white">{{ line.content }}</textarea>
                    <div class="send-button">
                        {% if line.judge == 0 %}
                            <input type="submit" name="like" value="Like">
                        {% else %}
                            <input type="submit" name="like" value="Liked" style="color: orangered">
                        {% endif %}
                        {% if line.author != username %}
                            {% if line.follow == 0 %}
                                <input type="submit" name="follow" value="Follow">
                            {% else %}
                                <input type="submit" name="follow" value="Followed" style="color: orangered">
                            {% endif %}
                        {% else %}
                            <input type="submit" name="delete" value="Delete">
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        {% endfor %}
    </div>
</div>
<!-- //Contact -->

<!-- Default-JavaScript -->
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>


<script src="/static/js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            // auto: true,
            nav: true,
            speed: 2000,
            namespace: "callbacks",
            pager: true,
        });
    });
</script>
<!-- //Responsive-Slider-JavaScript -->


<!-- Review-Slider-JavaScript -->
<script src="/static/js/main5.js"></script>
<!-- //Review-Slider-JavaScript -->


</body>
<!-- //Body -->


</html>