{% extends 'base.html' %}

{% block title %}EmailUpdate{% endblock %}

{% block js %}
<script src="/static/js/update.js"></script>
{% endblock %}

{% block main %}
<form class="innerBox" action="" method="post" onsubmit="return email_check()">
    <br />{% csrf_token %}<br />
    <label class="aleStyle" id="error">{{ email_error }}</label>

    <label class="lblStyle">Email Address</label>
    <input class="iptStyle" id="email" name="email" type="email" value="" />
    <div>
        <a href="/profile.html">Back to profile page</a>
        <input class="Btn" id="confirmBtn" type="submit" value="Confirm" />
    </div>
</form>
{% endblock %}