{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block main %}
<div class="innerBox">
    <br />{% csrf_token %}<br />
    <label class="lblStyle">Email: </label>
    <label class="lblStyle">{{ email }}</label>
    <a href="/emailUpdate.html">Modify email</a>
    <label class="lblStyle">Username: </label>
    <label class="lblStyle">{{ username }}</label>
    <a href="/passwordUpdate.html">Modify password</a>
    <a href="/logout">
        <input class="Btn" id="LogoutBtn" type="button" value="Logout" />
    </a>
</div>
{% endblock %}